body {
  margin: 0;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  cursor: pointer;
}

.information {
  margin: 0 2.5rem;
}

.dark-button {
  text-decoration: none;
  background: #485e74;
  color: #ffffff;
  padding: 0.5rem;
  font-size: 1rem;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 1.5rem;
  }

  .routes {
    font-size: 0.5rem;
    padding-left: 10px;
  }

  .cover {
    height: 60vh;
  }

  .cover-image {
    width: 20rem;
  }

  .greeting {
    font-size: 1.5rem;
  }

  .product-image {
    width: 80vw;
    margin: 0;
  }

  .information {
    width: auto;
  }

  .text {
    font-size: 0.9rem;
    /* border: 1px solid silver; */
  }

  .cart {
    width: 80vw;
  }
}