.cart-container {
  display: flex;
  height: 50vh;
  justify-content: center;
  align-items: center;
}

.cart {
  width: 40vw;
}

.cart div {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.cart button {
  color: #ffffff;
  background: #808080;
  font-size: 1rem;
  height: 80%;
  width: 80%;
}