.info-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.product-image {
  width: 22rem;
  margin: 2rem;
  height: auto;
}

.product-information {
  width: 24rem;
}