.grid-wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.box img {
  width: 100%;
  height: auto;
}

.box {
  margin: 30px;
}

.products-heading {
  text-align: center;
}

.title {
  margin-bottom: 0;
}

.price {
  margin: 0;
}